
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
<header class="header">
    {% block header %}



    <nav>
        {% if user.is_authenticated %}
<button style="height: 60px;
  width: 355px;
  background-color:black;
  color:  white;
  border-radius: 40px;">
    <a style="font-size: 25px" href="{% url 'profile' %}">Profile</a>

</button>
{% endif %}

{% if user.is_superuser %}
<button style="height: 60px;
  width: 355px;
  background-color:black;
  color:  white;
  border-radius: 40px;">
    <a style="font-size: 25px" href="{% url 'product_create' %}">Create Product</a>

</button>
        {% endif %}
<button style="height: 60px;
  width: 355px;
  background-color:black;
  color:  white;
  border-radius: 40px;">
    <a style="font-size: 25px" href="{% url 'register' %}">Sign Up Now</a>
</button>
        <button style="height: 60px;
  width: 355px;
  background-color:black;
  color:  white;
  border-radius: 40px;">
    <a style="font-size: 25px" href="{% url 'logout' %}">Logout</a>

</button>


<button style="height: 60px;
  width: 355px;
  background-color:black;
  color:  white;
  border-radius: 40px;">
    <a style="font-size: 25px" href="{% url 'login' %}">Login</a>

</button>

        {% if user.is_superuser %}
        <button style="height: 60px;
  width: 355px;
  background-color:black;
  color:  white;
  border-radius: 40px;">
    <a style="font-size: 25px" href="{% url 'product_list' %}">Stock</a>
            </button>
        {% endif %}

{% if user.is_authenticated %}
        <button style="height: 60px;
  width: 355px;
  margin: 5px;
  background-color:black;
  color:  white;
  border-radius: 40px;">
    <a style="font-size: 25px" href="{% url 'main' %}">Main</a>
            </button>
{% endif %}

{% if user.is_superuser %}
    <button style="height: 60px; width: 355px; background-color: black; color: white; border-radius: 40px;">
        <a style="font-size: 25px; color: blue; text-decoration: none;" href="{% url 'return_list' %}">
             Returns Product
        </a>
    </button>
{% endif %}

    </nav>
    {% endblock %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</hr>

<footer class="footer">
    {% block footer %}
    <nav class="navigation5">
        <section class="gray2">
          <ul class="text3">
            <h2>SHOP.CO</h2>
            <li class="link6">
              We have clothes that your style and which you're proud to wear.
              From women to men.


            </li>
          </ul>
          <ul class="text4">
            <h3 class="line4">Company</h3>
            <li class="link3">About</li>
            <li class="link3">Features</li>
            <li class="link3">Works</li>
            <li class="link3">Career</li>
          </ul>
          <ul class="text5">
            <h3 class="line4">FAQ</h3>
            <li class="link3">Account</li>
            <li class="link3">Manage Deliveres</li>
            <li class="link3">Orders</li>
            <li class="link3">Payments</li>
          </ul>
          <ul class="text6">
            <h3 class="line4">Resource</h3>
            <li class="link3">Free eBooks</li>
            <li class="link3">Development Tutorial</li>
            <li class="link3">How to-Blog</li>
            <li class="link3">Youtube Playlist</li>
          </ul>
        </section>
        <hr class="outline">
        <ul class="trek">
          <li class="link3">Shop.co © 2000-2023. AllRigts Reserved</li>

        </ul>
        <section class=""></section>
      </nav>
      <section class="black">
        <ul class="black2">
          <p class="shop1">SHOP.CO</p>

        </ul>
        <div class="black3">

        </div>
      </section>
    {% endblock %}
</footer>
</body>
</html>