{% extends 'base.html' %}

{% block content %}
<main class="main">
    <div class="product-container">
        <h1>Product List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity in Stock</th>
                    <th>Available Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }} BDT</td>
                        <td>{{ product.quantity_in_stock }}</td>
                        <td>{{ product.available_quantity }}</td>
                        <td>
                            <a href="{% url 'product_update' product.id %}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
